<div><input [(ngModel)]="inputValue" placeholder="Type here">
<p>The value is: {{ inputValue }}</p></div>
<button (click)="searchMusic()">Search Music</button>


@if (finalList.length > 0) {
  <table>
    <tbody>
      <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Artist</th>
        <th>Genre</th>
        <th>CoverUrl</th>
      </tr>
      <!-- <ng-container *ngFor="let musicItem of finalList"> -->
        <!-- for( i=0; i<=10; i++){
  console.log(i) ;
  finalList[i]
} -->
      @for (musicItem of finalList; track musicItem.id) {
        <tr>
          <td>{{ musicItem.id }}</td>
          <td>{{ musicItem.title ? musicItem.title : "N/A" }}</td>
          <td>{{ musicItem.artist }}</td>
          <td>{{ musicItem.genre }}</td>
          <td><img [src]="musicItem.coverUrl" /></td>
          <!-- <td><img src="https://picsum.photos/id/225/200/200"></td> -->
        </tr>
      }

      <!-- </ng-container> -->
    </tbody>
  </table>
} @else {
  No Value
}
